<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="margin-bottom-900">Adultig Finance Tracker</h1>
        <div class="container_1">
            <h2 class="margin-bottom-400" >  <span class="username"> Hello <%= user.userName %>, </span> Your Total Monthy Budget is
           <span class="userbudget" > $ <%= user.budget %></span>
            
            </h2>
        </div>
 

        <form action="/expense/updateBudget" method='POST' class="container_1" >
    
            <input type="number" placeholder="enter budget" name="budget" min="0.00"  max="100000000.00" class="input-field | margin-bottom-400"
            step="0.01"
            >
            <input type="submit" class="btn-primary | margin-bottom-400"value="Update Budget" >
        </form>


        


        <form action="/expense/createExpense" method='POST' class="container_1">
            <input type="text" placeholder="Enter an expense" name='itemName'  class="input-field | margin-bottom-400" required >
            <input type="number" placeholder="$0" name="itemCost"  min="0.00"  max="100000000.00"  class="input-field | margin-bottom-400" step="0.01" >
            <input type="submit" value="New Expense" class="btn-primary | margin-bottom-900" >
        </form>
        

        <div class="expenses-container | margin-bottom-900">
            <h3 class="margin-bottom-400">My expenses</h3>
            <ul class="items-container | margin-bottom-400">
                <% expenses.forEach( el => { %>
                <li class="expense-li | deleteExpense" data-id='<%=el._id%>'>
                    <span  class="item | <%= el.completed === true ? 'completed' : 'not'%>"><%= el.expense %></span>
                    <span class="cost"> Cost:
                        <span class="expense"> <%= el.cost %> <%= user.currency %>  </span>
                    
                    </span>
                    <button class="del | delete-btn"> Delete </button>
                   
                </li>
        <% }) %>    
        </ul>
        </div>
        <div class="container_1 | margin-bottom-900">
            <h2 class="| margin-bottom-900">
                <span class="username"><%= user.userName %></span> has
                <span class="userbudget"><%= user.budget - total %></span>
                <span class="currency"><%= user.preferredCurrency %> </span> left to
                spend
            </h2>
        </div>

        
<h2><span><%= user.userName %> Total Monthy Budget is <%= user.budget %>  </span> <span class="currency"><%= user.currency %></span>
    has, <%=  user.budget - total %> left </h2>






    </div>
    

<script src="js/main.js"></script>
</body>
</html>